{{ extends "app.tmpl" }}

{{ define "title" }}Home{{ end }}

{{ define "content" }}
<h2>Welcome to WikiGo!</h2>
<br>
<h3>Articles</h3>
<ul class="list-group">
    {{range .Pages}}
        <li class="list-group-item"><a href="/view/{{.Title}}">{{.Title}}</a></li>
    {{end}}
</ul>
<br>
<h3>Create new article</h3>
<!--<div class="row">-->
    <div class="form-inline">
        <div class="input-group">
            <input class="form-control" type="text" id="title" placeholder="Title"></p>
            <div class="input-group-append">
                <button class="btn btn-primary" id="create" onclick="create()">Create</button>
            </div>
        </div>
    </div>
<!--</div>-->

<script>
    function create() {
        var title = document.getElementById('title').value;
        location.replace('/edit/' + title);
    }
</script>
{{ end }}