{{ extends "app.tmpl" }}

{{ define "title" }}{{.Title}}{{ end }}

{{ define "content" }}
<h2>{{.Title}}</h2>
<p>[<a href="/edit/{{.Title}}">edit</a>][<a href="/delete/{{.Title}}">delete</a>]</p>
<div><pre wrap="soft">{{printf "%s" .Body}}</pre></div>
{{ end }}